%h1= @restaurant.name
%p
  %span= @restaurant.address
  %a= link_to 'Edit', edit_restaurant_path(@restaurant)
%p= @restaurant.desc

%table
  %tr
    %th Item
    %th Price
    %th
    %th

  -@products.each do |product|
    %tr
      %td= link_to product.name, product_path(product)
      %td= product.price
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Delete', product_path(product),
                            method: :delete,
                            data: {confirm: 'Are you sure?'}
